.p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  line-height: var(--testcaseLineHeight);
}
.p::before{
  content: "";
  padding: 1rem;
}
.w {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--testcaseFontSize);
  letter-spacing: var(--testcaseLetterSpacing);
}

.outline {
  outline: 1px solid gray;
  min-width: 3rem;
  min-height: 1.5rem;
}
.selected {
  outline: 1px solid orange;
}

.box {
  font-size: var(--testcaseFontSize);
  letter-spacing: var(--testcaseLetterSpacing);
}
.w + .w {
  margin-left: 0.5rem;
}
