.p {
  text-indent: 1rem;
  position: relative;
}
.w {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.outline {
  outline: 1px solid white;
  min-width: 3rem;
}

.w + .w {
  margin-left: 0.5rem;
}
