.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  .header {
    &.item {
      background-color: aquamarine;
    }
    &.item-editor {
      display: flex;
      justify-content: space-between;
    }
  }
  .content {
    &.item {
      display: flex;
      .editor {
        flex-direction: column;
        min-height: 200px;
        border: 1px solid gray;
        .name {
          display: flex;
          .input {
            flex: 1;
          }
        }
      }
    }

  }
}
