.box {
  display: flex;
}
.item {
  flex: 1;
}

.header .editor {
  display: flex;
  justify-content: space-between;
}

.content .editor {
  display: flex;
  flex-direction: column;
}

.content .editor .name {
  display: flex;
}

.content .editor .name .input {
  flex: 1;
}

.content .editor .editorElement {
  flex: 1;
  min-height: 200px;
  border: 1px solid gray;
}
